<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<th:block layout:fragment="content">

		<h1 class="text-center">View Movie Details</h1>
		<hr>
		<div class="container mt-2">
			<div class="d-flex justify-content-center row">
				<div class="col-md-10">
					<div class="receipt bg-white p-3 rounded" th:object="${movie}">

						<div
							class="d-flex flex-row justify-content-between align-items-center order-details">
							<div>
								<span class="d-block fs-12">Movie Name</span><span
									class="font-weight-bold"><td
									th:text="${movie.movieName}"></td></span>
							</div>
							<div>
								<span class="d-block fs-12">Movie Date</span><span
									class="font-weight-bold"><td th:text="${movie.date}"></td></span>
							</div>
							<div>
								<span class="d-block fs-12">Duration (In Minutes)</span><span
									class="font-weight-bold"><td th:text="${movie.duration}"></td></span>
							</div>
							<div>
								<span class="d-block fs-12">Time</span><span
									class="font-weight-bold"><td th:text="${movie.time}"></td></span>
							</div>
						</div>
						<hr>


						<div class="mt-10 amount row">

							<div class="col-md-12">
								<div class="billing">
									<div class="d-flex justify-content-between">
										<span>Movie Quality</span><span class="font-weight-bold"><td
											th:text="${movie.quality}"></td></span>
									</div>
									<div class="d-flex justify-content-between mt-2">
										<span>Movie Type</span><span class="font-weight-bold"><td
											th:text="${movie.type}"></td></span>
									</div>
									<div class="d-flex justify-content-between mt-2">
										<span>Screen</span><span class="font-weight-bold"><td
											th:text="${movie.screen}"></td></span>
									</div>
									<div class="d-flex justify-content-between mt-2">
										<span>Language</span><span class="font-weight-bold"><td
											th:text="${movie.language}"></td></span>
									</div>
									<div class="d-flex justify-content-between mt-2">
										<span>Seats Available</span><span class="font-weight-bold"><td
											th:text="${movie.seats - movie.customers.size() +'/'+ movie.seats}"></td></span>
									</div>



									<hr>
									<div class="d-flex justify-content-between mt-1">
										<span class="font-weight-bold">Ticket Price</span><span
											class="font-weight-bold text-success"> Rs.
											<td th:text="${movie.price}"></td>
										</span>
									</div>

								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="text-center">
			<a th:href="@{/customers(movieId=${movie.movieId})}"><button
					type="button" class="btn btn-outline-success">View</button></a> <a
				th:href="@{/movie/edit(movieId=${movie.movieId})}"><button
					type="button" class="btn btn-outline-primary"
					onclick="alert('Are you sure to edit this Movie?')">Edit</button></a> <a
				th:href="@{/movie/delete(movieId=${movie.movieId})}"><button
					th:if="${movie.seats - movie.customers.size()==movie.seats}"
					type="button" class="btn btn-outline-danger "
					onclick="alert('Are you sure to delete this Movie?')">Delete</button>

			</a>
		</div>




	</th:block>
</body>
</html>