<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-md-6">
				<h1 style="color: darkblue">Cancelled Tickets</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card bg-white rounded border border-danger mb-3"
					th:each="customer, iterStat:${customers}">
					<div class="card-header">
						<h3 class="name font-weight-normal">
							Hello,
							<td th:text="${customer.firstName}"></td>
							<td th:text="${customer.lastName}"></td>
							<!-- <button type="button" class="btn btn-success float-right">Booked</button> -->

							<button type="button" class="btn btn-danger float-right rounded">Cancelled</button>
						</h3>
					</div>
			
					<div class="d-flex  justify-content-between p-3">
						<div>
							<span class="d-block fs-12">Movie Name</span><span
								class="font-weight-bold"><td
								th:text="${customer.movie.movieName}"></td></span>
						</div>
						<div>
							<span class="d-block fs-12">Show Date</span><span
								class="font-weight-bold"><td
								th:text="${customer.movie.date}"></td></span>
						</div>
						<div>
							<span class="d-block fs-12">Duration (In Minutes)</span><span
								class="font-weight-bold"><td
								th:text="${customer.movie.duration}"></td></span>
						</div>
						<div>
							<span class="d-block fs-12">Show Time</span><span
								class="font-weight-bold"><td
								th:text="${customer.movie.time}"></td></span>
						</div>
					</div>
					<hr>
					<div class="row p-3">

						<div class="col-md-12">
							<div class="billing">
								<div class="d-flex justify-content-between">
									<span>Movie Quality</span><span class="font-weight-bold"><td
										th:text="${customer.movie.quality}"></td></span>
								</div>
								<div class="d-flex justify-content-between mt-2">
									<span>Movie Type</span><span class="font-weight-bold"><td
										th:text="${customer.movie.type}"></td></span>
								</div>
								<div class="d-flex justify-content-between mt-2">
									<span>Screen</span><span class="font-weight-bold"><td
										th:text="${customer.movie.screen}"></td></span>
								</div>
								<hr>
								<div class="d-flex justify-content-between mt-1">
									<span class="font-weight-bold">Ticket Price</span><span
										class="font-weight-bold text-success"> Rs.
										<td th:text="${customer.movie.price}"></td>
									</span>
								</div>
							</div>
						</div>
					</div>

					<div class="card-footer">
						<div class="d-flex justify-content-between mt-1">
							<span class="font-weight-bold">Thanks for Booking</span><span
								class="d-block font-weight-bold">Need Help? Call -
								9988776655</span>
						</div>

					</div>

				</div>
			</div>
		</div>
	</th:block>
</body>
</html>