<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-md-12">
				<h1 style="color: darkblue">Search Movie</h1>
			</div>
		</div>

		<form action="/movie/search" method="post">
			<div class="row">
				<div class="from-group col-md-6">
					<label class="col-form-label" for="movieId">Movie Name</label> <select
						class="form-control" id="movieId" name="movieId">
						<option th:each="movie, i:${movies}" th:text="${movie.movieName}"
							th:value="${movie.movieId}"></option>
					</select>
				</div>

				<div class="form-group col-md-6">
					<label class="col-form-label" for="date">Movie Date</label> <input
						type="date" class="form-control" placeholder="" id="txtDate"
						name="date" required>
				</div>


				<div class="form-group col-12">
					<button type="submit" class="btn btn-success" style="float: right">Search</button>
				</div>

			</div>
		</form>

		<th:block th:if="${notFound !=null}">
			<div class="col-12">
				<p
					style="text-align: center; margin-top: 30px; color: red; font-weight: bold">No
					Record Found!</p>
			</div>
		</th:block>
		<th:block th:if="${movies!=null}">

			<div class="row">
				<div class="col-3 card border-dark"
					th:each="movie,iterStat:${movieslist}"
					style="width: 50rem; margin-bottom: 2ex;">
					<div class="card-header">
						<h3 class="card-title" th:text="${movie.movieName}"></h3>
						<div class="row">
							<div class="col-3">
								<h6 class="card-subtitle text-muted" th:text="${movie.quality}"></h6>
							</div>
							<div class="col">
								<h6 class="card-subtitle text-muted" th:text="${movie.type}"></h6>
							</div>
							<div class="col">
								<h6 class="card-subtitle text-muted" th:text="${movie.language}"></h6>
							</div>
						</div>
					</div>
					<div class="card-body">

						Date : <label class="card-text mb-1" th:text="${movie.date}"></label>
						<hr>
						Show Time : <label class="card-text mb-1" th:text="${movie.time}"></label>
						<hr>
						Ticket Price : <label class="card-text mb-1"
							th:text="${movie.price}"></label>
						<hr>
						Seats Available : <label class="card-text"
							th:text="${movie.seats - movie.customers.size() +'/'+ movie.seats}"></label>
						<a th:href="@{/viewMovie(movieId=${movie.movieId})}"
							class="stretched-link"></a>

					</div>
					<div class="card-footer">
						<a th:if="${movie.customers.size()>=movie.seats}"><button
								type="button" class="btn btn-danger btn-sm float-right">Housefull</button></a>
						<a th:if="${movie.customers.size()<movie.seats}"
							th:href="@{/movie/book/new(movieId=${movie.movieId})}"><button
								type="button" class="btn btn-success btn-sm float-right">Book</button></a>
					</div>
				</div>
			</div>
		</th:block>

		<!-- <div>
			<ul class="pagination">
				<li class="page-item disabled"><a class="page-link" href="#">Pages:</a>
				</li>
				<th:block th:each="i:${#numbers.sequence(1,flights.totalPages)}">
					<li
						th:class="${currentPage}==(${i-1}) ? 'page-item active' : 'page-item'">
						<a class="page-link" th:href="@{/flights(pageNo=(${i-1}))}"
						th:text="${i}"></a>
					</li>
				</th:block>
			</ul>
		</div> -->
	</th:block>
</body>
</html>