<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">

<body>
	<th:block layout:fragment="content">


		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-12" style="margin-bottom: 10px">
								<h1 style="color: darkblue">Customer Information</h1>
							</div>
						</div>
					</div>
					<div class="card-body">
						<form action="/movie/book/new" method="post"
							th:object="${customer}">
							<div class="row">
								<input type="hidden" th:value="${movieId}" name="movieId">

								<div class="form-group col-md-6">
									<label class="col-form-label" for="firstName">First
										Name</label> <span th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{firstName}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="firstName"
										name="firstName" th:value="${customer.firstName}"
										minlength="3" required>
								</div>

								<div class="form-group col-md-6">
									<label class="col-form-label" for="lastName">Last Name</label>
									<span th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="lastName"
										name="lastName" th:value="${customer.lastName}" minlength="3"
										required>
								</div>

								<div class="form-group col-md-6">
									<label class="col-form-label" for="phoneNumber">Phone
										Number</label> <span th:if="${#fields.hasErrors('phoneNumber')}"
										th:errors="*{phoneNumber}" class="badge badge-danger"></span>
									<input type="text" class="form-control" placeholder=""
										id="phoneNumber" name="phoneNumber"
										th:value="${customer.phoneNumber}" minlength="10"
										maxlength="10" required>
								</div>

								<div class="form-group col-md-6">
									<label class="col-form-label" for="email">Email Address</label>
									<span th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}" class="badge badge-danger"></span> <input
										type="email" class="form-control" placeholder="" id="email"
										name="email" th:value="${customer.email}" required>
								</div>

								<div class="form-group col-12">
									<button type="submit" class="btn btn-success"
										style="float: right"
										onclick="alert('Are you sure to Book this Movie Ticket?')">Save</button>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</th:block>
</body>
</html>