<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<head>
<title>New Movie</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		var dtToday = new Date();

		var month = dtToday.getMonth() + 1;
		var day = dtToday.getDate();
		var year = dtToday.getFullYear();
		if (month < 10)
			month = '0' + month.toString();
		if (day < 10)
			day = '0' + day.toString();

		var maxDate = year + '-' + month + '-' + day;
		$('#txtDate').attr('min', maxDate);
	});
</script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	
</script>
<script type="text/javascript">
	function openAlert(msg, gfg) {
		var confirmBox = $("#container");

		confirmBox.find(".message").text(msg);

		confirmBox.find(".yes").unbind().click(function() {

			confirmBox.hide();
		});
		confirmBox.find(".yes").click(gfg);

		confirmBox.show();

		confirmBox.find(".no").unbind().click(function() {
			event.preventDefault();
			confirmBox.hide();
		});
		confirmBox.find(".no").click(gfg);
		confirmBox.show();
	}
</script>
<style>
#container {
	display: none;
	background-image: linear-gradient(to right, #33ACFF, #C3DBEB);
	background-size: cover;
	color: white;
	position: fixed;
	width: 500px;
	border-radius: 5px;
	left: 50%;
	margin-left: -250px;
	padding: 16px 8px 8px;
	box-sizing: border-box;
	background-size: cover;
}

#container .yes {
	display: inline-block;
	border-radius: 3px;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
	width: 60px;
	float: right;
}

#container .no {
	display: inline-block;
	border-radius: 5px;
	padding: 5px;
	margin-right: 10px;
	text-align: center;
	width: 60px;
	float: right;
}

#container .message {
	text-align: left;
	padding: 10px 30px;
	font-size: large;
}
</style>
</head>
<body>
	<th:block layout:fragment="content">

		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-header">
						<div class="row">
							<div class="col-md-12">
								<h1 style="color: darkblue">Add Movie Information</h1>
							</div>
						</div>
					</div>

					<div class="card-body">
						<form action="/movie/new" method="post" th:object="${movie}"
							autocomplete="off">
							<div class="row">

								<div class="form-group col-md-4">
									<label class="col-form-label" for="movieName">Movie
										Name</label> <span th:if="${#fields.hasErrors('movieName')}"
										th:errors="*{movieName}" class="badge badge-danger"></span> <input
										type="text" class="form-control"
										placeholder="Enter Movie Name" id="movieName" name="movieName"
										th:value="${movie.movieName}" autocomplete="off" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="releaseDate">Release
										Date</label> <span th:if="${#fields.hasErrors('releaseDate')}"
										th:errors="*{releaseDate}" class="badge badge-danger"></span>
									<input type="date" class="form-control" id="textDate"
										name="releaseDate" th:value="${movie.releaseDate}"
										autocomplete="off" required>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="date">Movie Date</label> <span
										th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
										class="badge badge-danger"></span> <input type="date"
										class="form-control" id="txtDate" name="date"
										th:value="${movie.date}" autocomplete="off" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="time">Show Time</label> <span
										th:if="${#fields.hasErrors('time')}" th:errors="*{time}"
										class="badge badge-danger"></span> <input type="time"
										class="form-control" id="time" name="time" autocomplete="off"
										required>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="screen">Movie Screen</label>
									<span th:if="${#fields.hasErrors('screen')}"
										th:errors="*{screen}" class="badge badge-danger"></span> <select
										path="screen" class="form-control" id="screen" name="screen"
										th:value="${movie.screen}">
										<option value="Screen 1" label="Screen 1" />
										<option value="Screen 2" label="Screen 2" />
										<option value="Screen 3" label="Screen 3" />
									</select>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="quality">Movie
										Quality</label> <span th:if="${#fields.hasErrors('quality')}"
										th:errors="*{quality}" class="badge badge-danger"></span> <select
										path="quality" class="form-control" id="quality"
										name="quality" th:value="${movie.quality}">
										<option value="2D" label="2D" />
										<option value="3D" label="3D" />
									</select>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="language">Movie
										Language</label> <span th:if="${#fields.hasErrors('language')}"
										th:errors="*{language}" class="badge badge-danger"></span> <select
										path="language" class="form-control" id="language"
										name="language" th:value="${movie.language}">
										<option value="Hindi" label="Hindi" />
										<option value="Marathi" label="Marathi" />
										<option value="English" label="English" />
										<option value="Telugu" label="Telugu" />
									</select>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="type">Movie Type</label> <span
										th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
										class="badge badge-danger"></span> <select path="type"
										class="form-control" id="type" name="type"
										th:value="${movie.type}">
										<option value="Action" label="Action" />
										<option value="Comedy" label="Comedy" />
										<option value="Drama" label="Drama" />
										<option value="Adventure" label="Adventure" />
										<option value="Fantacy" label="Fantacy" />
										<option value="Social" label="Social" />
									</select>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="price">Ticket Price</label>
									<span th:if="${#fields.hasErrors('price')}"
										th:errors="*{price}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="price"
										name="price" th:value="${movie.price}" autocomplete="off"
										required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="seats">Seats</label> <span
										th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"
										class="badge badge-danger"></span> <input type="text"
										class="form-control" placeholder="" id="seats" name="seats"
										th:value="${movie.seats}" autocomplete="off" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="duration">Duration(In
										Minutes)</label> <span th:if="${#fields.hasErrors('duration')}"
										th:errors="*{duration}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="duration"
										name="duration" th:value="${movie.duration}"
										autocomplete="off" required>
								</div>

								<div class="form-group col-12">
									<input class="btn btn-success" style="float: right"
										type="button" value="Save" onclick="openAlert();" />
								</div>
								<div id="container">
									<div class="message">Do you really want to Save?</div>
									<button class="yes btn btn-success" type="submit">Yes</button>
									<button class="no btn btn-danger">No</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>