<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<head>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
	$(function() {
		var dtToday = new Date();

		var month = dtToday.getMonth() + 1;
		var day = dtToday.getDate();
		var year = dtToday.getFullYear();
		if (month < 10)
			month = '0' + month.toString();
		if (day < 10)
			day = '0' + day.toString();

		var maxDate = year + '-' + month + '-' + day;
		$('#txtDate').attr('min', maxDate);
	});
</script>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="row">
			<div class="col-md-12" style="margin-bottom: 10px">
				<h1 style="color: darkblue">Add Movie Information :</h1>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<div class="card">
					<div class="card-body">
						<form action="/movie/new" method="post" th:object="${movie}">
							<div class="row">

								<div class="form-group col-md-4">
									<label class="col-form-label" for="movieName">Movie
										Name</label> <span th:if="${#fields.hasErrors('movieName')}"
										th:errors="*{movieName}" class="badge badge-danger"></span> <input
										type="text" class="form-control"
										placeholder="Enter Movie Name" id="movieName" name="movieName"
										th:value="${movie.movieName}" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="releaseDate">Release
										Date</label> <span th:if="${#fields.hasErrors('releaseDate')}"
										th:errors="*{releaseDate}" class="badge badge-danger"></span>
									<input type="date" class="form-control" id="txtDate"
										name="releaseDate" th:value="${movie.releaseDate}" required>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="date">Movie Date</label> <span
										th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
										class="badge badge-danger"></span> <input type="date"
										class="form-control" id="txtDate" name="date"
										th:value="${movie.date}" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="time">Show Time</label> <span
										th:if="${#fields.hasErrors('time')}" th:errors="*{time}"
										class="badge badge-danger"></span> <input type="time"
										class="form-control" id="time" name="time" required>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="screen">Movie Screen</label>
									<span th:if="${#fields.hasErrors('screen')}"
										th:errors="*{screen}" class="badge badge-danger"></span> <select
										path="screen" class="form-control" id="screen" name="screen"
										th:value="${movie.screen}">
										<option value="Screen 1" label="Screen 1" />
										<option value="Screen 2" label="Screen 2" />
										<option value="Screen 3" label="Screen 3" />
									</select>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="quality">Movie
										Quality</label> <span th:if="${#fields.hasErrors('quality')}"
										th:errors="*{quality}" class="badge badge-danger"></span> <select
										path="quality" class="form-control" id="quality"
										name="quality" th:value="${movie.quality}">
										<option value="2D" label="2D" />
										<option value="3D" label="3D" />
									</select>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="language">Movie
										Language</label> <span th:if="${#fields.hasErrors('language')}"
										th:errors="*{language}" class="badge badge-danger"></span> <select
										path="language" class="form-control" id="language"
										name="language" th:value="${movie.language}">
										<option value="Hindi" label="Hindi" />
										<option value="Marathi" label="Marathi" />
										<option value="English" label="English" />
										<option value="Telugu" label="Telugu" />
									</select>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="type">Movie Type</label> <span
										th:if="${#fields.hasErrors('type')}" th:errors="*{type}"
										class="badge badge-danger"></span> <select path="type"
										class="form-control" id="type" name="type"
										th:value="${movie.type}">
										<option value="Action" label="Action" />
										<option value="Comedy" label="Comedy" />
										<option value="Drama" label="Drama" />
										<option value="Adventure" label="Adventure" />
										<option value="Fantacy" label="Fantacy" />
										<option value="Social" label="Social" />
									</select>
								</div>

								<div class="form-group col-md-4">
									<label class="col-form-label" for="price">Ticket Price</label>
									<span th:if="${#fields.hasErrors('price')}"
										th:errors="*{price}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="price"
										name="price" th:value="${movie.price}" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="seats">Seats</label> <span
										th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}"
										class="badge badge-danger"></span> <input type="text"
										class="form-control" placeholder="" id="seats" name="seats"
										th:value="${movie.seats}" required>
								</div>
								<div class="form-group col-md-4">
									<label class="col-form-label" for="duration">Duration(In
										Minutes)</label> <span th:if="${#fields.hasErrors('duration')}"
										th:errors="*{duration}" class="badge badge-danger"></span> <input
										type="text" class="form-control" placeholder="" id="duration"
										name="duration" th:value="${movie.duration}" required>
								</div>

								<div class="form-group col-12">
									<button type="submit" class="btn btn-success"
										style="float: right"
										onclick="alert('Are you sure to Save this Movie?')">Save</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>