<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/master-page}">
<meta charset="UTF-8">
<title>Customers</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div class="card">
			<div class="card-header">
				<h1 class="text-center">Movie Ticket Booking</h1>
			</div>
			<div class="container mt-2">
				<div class="row">
					<div class="col-md-12">
						<div class="receipt bg-white p-3 rounded" th:object="${movie}">

							<div
								class="d-flex flex-row justify-content-between align-items-center order-details">
								<div>
									<span class="d-block fs-12">Movie Name</span><span
										class="font-weight-bold" th:text="${movie.movieName}"></span>
								</div>
								<div>
									<span class="d-block fs-12">Release Date</span><span
										class="font-weight-bold" th:text="${movie.releaseDate}"></span>
								</div>
								<div>
									<span class="d-block fs-12">Movie Date</span><span
										class="font-weight-bold" th:text="${movie.date}"></span>
								</div>
								<div>
									<span class="d-block fs-12">Duration (In Minutes)</span><span
										class="font-weight-bold" th:text="${movie.duration}"></span>
								</div>
								<div>
									<span class="d-block fs-12">Time</span><span
										class="font-weight-bold" th:text="${movie.time}"></span>
								</div>
							</div>
							<hr>


							<div class="mt-10 amount row">

								<div class="col-md-12">
									<div class="billing">
										<div class="d-flex justify-content-between">
											<span>Movie Quality</span><span class="font-weight-bold"
												th:text="${movie.quality}"></span>
										</div>
										<div class="d-flex justify-content-between mt-2">
											<span>Movie Type</span><span class="font-weight-bold"
												th:text="${movie.type}"></span>
										</div>
										<div class="d-flex justify-content-between mt-2">
											<span>Screen</span><span class="font-weight-bold"
												th:text="${movie.screen}"></span>
										</div>
										<div class="d-flex justify-content-between mt-2">
											<span>Seats Available</span><span class="font-weight-bold"
												th:text="${movie.seats - movie.customers.size() +'/'+ movie.seats}"></span>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-between mt-1 col-md-12">
					<span class="font-weight-bold">Ticket Price</span><span
						class="font-weight-bold text-success"> Rs.
						<td th:text="${movie.price}"></td>
					</span>
				</div>
			</div>
		</div>
		<div class="text-center mt-2">
			<a th:if="${movie.customers.size()>=movie.seats}"><button
					type="button" class="btn btn-danger rounded">Housefull</button></a> <a
				th:if="${movie.customers.size()<movie.seats}"
				th:href="@{/movie/book/new(movieId=${movie.movieId})}"><button
					type="button" class="btn btn-success rounded">Book</button></a>
		</div>
	</th:block>
</body>
</html>